@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Josefin+Sans&family=Poppins&family=Roboto&display=swap');:root{
    --bgc: #333366;
    --annbg: #B2DF8A;
    --scrollbar: #FFA76C;
}
*{
    margin: 0; padding: 0;
    list-style: none;
    text-decoration: none;
}
/* header and sidebar */
.header{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: white;
    z-index: 1;
    border-bottom: 4px solid var(--bgc);
}
.header ul a{
    line-height: 30px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 15px;
}
.sidebar{
    position: fixed;
    left: 0;
    top: 50px;
    width: 230px;
    height: 100%;
    background: var(--bgc);
}
.sidebar header{
    font-family:'EB Garamond', serif;
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 60px;
    user-select: none;
}
.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 50px;
    font-size: 15px;
    color: azure;
    padding-left: 30px;
    box-sizing: border-box;
}
.sidebar ul a i{
    margin-right: 15px;
}
.sidebar ul li.active {
    background-color: var(--bgc); /* Change this to your desired color */
    color: blue; /* Change this to your desired text color */
}
/* header and sidebar */

/* content (general) */
.content{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: calc(97% - 230px);
    height: 100%;
    left: 230px;
    padding: 10px 20px;
    grid-gap: 20px;
}
/* content */

.content .head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-gap: 10px;
    margin-bottom: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
.content .viewbutton{
    border-style: solid;
    border-color: var(--bgc);
    border-radius: 7px;
    display: flex;
    padding: 3px 10px;
    color: var(--bgc);
    background-color: white;
}
.content .classes .viewbutton{
    margin-right: 13px;
}
.content .seemorebutton{
    position: relative;
    border-style: solid;
    border-color: var(--bgc);
    border-radius: 7px;
    display: flex;
    padding: 3px 10px;
    color: var(--bgc);
    background-color: white;
    max-width: fit-content;
    font-family: 'Josefin Sans', sans-serif;
}

/* homepage */
/* homepage-classes */
.content .classes{
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 600px;
}
.content .classes .classlist{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 15px;
}
.content .classes li{
    padding: 10px;
    width: 170px;
    height: 150px;
    background-color: white;
    border-radius: 10px;
    border-style: solid;
    border-color: var(--bgc);
    display: flex;
    align-items: center;
}
/* homepage classes */
/* listed items (annoucement and events) */
.content .listeditems >div{
    border-radius: 5px;
    border-style: solid;
    border-color: var(--bgc);
    padding: 15px;
    overflow-x: auto;
    margin-bottom: 10px;
    min-height: 100px;
    overflow-y: hidden;
}
.content .listeditems li{
    display: none;
}
.content .listeditems i{
    font-size: 15px;
}
.content .announcement{
    flex-grow: 1;
    flex-basis: 200px;
    min-height: 100px;
    background: var(--annbg);
    margin-top: 10px;
}
.content .annlist{ width: 100%;}
.content .annlist li:nth-child(-n+3){
    width: 225px;
    margin-bottom: 10 px;
    background-color: white;
    border-radius: 5px;
    border-style: solid;
    border-color: var(--bgc);
    padding: 7px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}
.content .annlist p{
    font-size: 14px;
}
.content .event{
    flex-grow: 1;
    flex-basis: 200px;
    max-height: 285px;
}
.content .eventlist{width: 100%;}
.content .eventlist li:nth-child(-n+4){
    width: 225px;
    margin-bottom: 10 px;
    background-color: var(--scrollbar);
    border-radius: 5px;
    border-style: solid;
    border-color: var(--bgc);
    padding: 10px 15px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.content .eventlist i{
    margin-right: 10px;
}
/* listed items */
/* homepage */

/* other pages (general) */
.title{
    width: 100%;
    color: var(--bgc);
    padding-left: 10px;
    padding-top: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}
/* other pages */

/* classpage */
.content .classname{
    width: 100%;
    font-size: 20px;
    color: var(--bgc);
}
.content .class-announcement{
    width: 100%;
    border-radius: 2px;
    border-style: solid;
    border-color: var(--bgc);
    overflow-x: auto;
    height: fit;
    position: relative;
    display: flex;
    flex-direction: column;
}
.class-announcement .head{
    border-bottom: 2px solid var(--bgc);
    padding: 5px 15px;
}
.classannlist li{
    width: 98%;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    margin-top: -5px;
    font-size: 12px;
}
.classannlist li i{
    margin-right: 10px;
}
.class-announcement .seemorebutton{
    text-align: right;
    margin-bottom: 10px;
    margin-right: 10px;
    align-self: flex-end;
}
.modulelist{
    width: 100%;
    padding: 0 0;
}
.modules{
    width: 100%;
    margin-bottom: 15px;
}
.modules .module-head, .modules .submodule-head {
    margin-bottom: 5px;
    margin-top: 5px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.18);
}
.modules .module-head label, .modules .submodule-head label{
    background-color: lightgray;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-radius: 3px;
    position: relative
}
.module-head input:checked ~ label .icon i:before,
.submodule-head input:checked ~ .icon i:before {
    content: '\f0d7';
    font-family: 'Font Awesome 5 Free';
}

.modules label span{
    font-size: 13px;
    font-weight: 500;
}
.modules .submodule-head label span{
    font-size: 12px;
    font-weight: 500;
}
.modules label .icon{
    height: 15px;
    width: 15px;
    display: block;
    position: relative;
}
.modules label .icon i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.modules .module-head .module-content, .modules .submodule-head .module-content{
    max-height: 0px;
    overflow: hidden;
    transition: all 0.4 ease;
    padding: 0 5px;
    margin-bottom: 5px;
}   
.module-head input:checked ~ .module-content,.submodule-head input:checked ~ .module-content{
    max-height: 100vh;
}
.modules input{
    display: none;
}
/* classpage */

/* annoucementpage */
.content .announcements{
    width: 100%;
    padding-left: 10px;
}
.annpagelist li{
    display: flex;
    align-items: first baseline;
}
.annpagelist li .left{
    width: 90%;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border-style: solid;
    border-color: var(--bgc);
    margin-bottom: 10px;
    min-height: 70px;
}
.annpagelist li .left >div{
    padding: 20px;
    align-items: center;
}
.annpagelist .date {
    width: 70px;
}
.annpagelist .anninfo p{
    width: 650px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 12px;
}
.annpagelist .anninfo{
    height: 100%;
    width: 100%;
    border-left: 2px solid var(--bgc);
    display: flex;
    justify-content: space-between;
    font-family: 'Josefin Sans', sans-serif;
}
.annstatus i{
    margin-left: 15px;
    font-size: 15px;
}
/* annoucementpage */

/* allcoursepage */
.allcourselist li{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 5px;
    padding: 5px;
    font-size: 12px;
}
.allcourselist li i{
    margin-right: 10px;
}
/* allcoursepage */
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}